@font-face {
  font-family: 'NSE';
  src: url('../Aurum-Script-Free-2.ttf');
}

* {
    text-decoration: none;
    color: #fff;
    font-family: Helvetica Neue, Helvetica, Arial, Microsoft YaHei, sans-serif;
    font-size: 14pt;
}

body, html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    max-width: 100%;
    overflow-x: hidden;
}

html{
    scroll-padding-top: 50px;
}  

/* Navigation */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: transparent;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar.scrolled {
    background-color: #0069B1;
    transition: background-color 0.3s;
}

.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.navbar a:hover {
    background-color: #fff;
    color: rgb(0, 0, 0);
}

.navbar a.active-nav {
    background-color: #75bcdd;
}
/* Navigation */

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 0;
    min-height: 100vh;
    width: 100%;
    position: relative;
}

.section img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
}

/* HOME */
#sectionA {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sectionA p {
    position: absolute;
    bottom: 35%;
    font-size: 100px;
    z-index: 10;
    font-family: 'NSE';
}

.scroll-down-arrow img {
  width: 60px;
  height: auto;
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-45%, -60%);
}

#float {
  animation: fadeInfloat 2s ease-in-out infinite;
}
/* HOME */

/* ABOUT */
#sectionB {
    background-color: #f5f9fc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    display: flex;
}

#sectionB .left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

#sectionB .left img {
    max-width: 200px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
    position: static;
}

#sectionB .left div {
    width: 70%;
}

#sectionB .left div p {
    margin-left: 25px;
}

#sectionB .left h2 {
    text-align: center;
    color: #000;
    font-size: 18pt;
}

#sectionB .left p {
    color: #000;
}

#sectionB .left .image-links {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    width: 100%;
}

#sectionB .left .image-links img {
    width: 40px;
    height: 40px;
    border-radius: 8px;
}

#sectionB .right {
    flex: 2;
    padding-left: 60px;
    padding-right: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#sectionB .right #bio {
    line-height: 1.75em;
    color: #333;
    text-indent: 2em;
    text-align: justify;
}

#sectionB #res-int {
    display: flex;
    padding: 20px;
    color: #333;
    font-size: 16pt;
}

#sectionB .skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

#sectionB .skills p {
    height: 30px;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #67b0de;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #000;
    padding-left: 5px;
    padding-right: 5px;
}
/* ABOUT */

/* RESEARCH */
#sectionC {
    background-color: #f5f9fc;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.section-container {
  display: flex;
  flex-direction: column;
  gap: 60px;
  height: 80vh;
}

.section-container::before {
content: "";
display: block;
border-top: 1px solid #747070;
width: 30%;
position: absolute;
top: 51%;
left: 35%;
transform: translateY(-50%);
}

.row {
  display: flex;
  align-items: center;
  gap: 100px;
}

.image-container img {
  width: 450px;
  height: auto;
  display: block;
  position: static;
  margin-left: 80px;
}

.text-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-right: 80px;
}

.text-content h2 {
  margin: 0;
  color: #333;
  text-align: center;
  width: 100%;
  font-size: 18pt;
}

.text-content p {
  margin: 0;
  text-indent: 2em;
  font-size: 14pt;
  line-height: 1.55em;
  color: #333;
  text-align: justify;
}
/* RESEARCH */

/* Publication */
#sectionD {
    background-color: #f5f9fc;
}

#sectionD p {
    font-family: 'Roboto', sans-serif;
    font-size: 14pt;
    font-weight: 300;
    line-height: 1.75em;
    color: #000;
    margin-left: 50px;
    margin-right: 50px;
    text-indent: 2em;
}
/* Publication */

/* GALLERY */
#sectionE {
    background-color: #f5f9fc;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}
/* GALLERY */

@keyframes fadeInfloat {
    0% {
        transform: translate(-50%, -50%) translateY(0);
    }
    50% {
        transform: translate(-50%, -50%) translateY(-20px);
    }
    100% {
        transform: translate(-50%, -50%) translateY(0);
    }
}
  
@keyframes fadeIn1 {
    0% {
        transform: translateX(-80px);
        opacity: 0;
    }
    25% {
        transform: translateX(-60px);
        opacity: 0.25;
    }
    50% {
        transform: translateX(-40px);
        opacity: 0.5;
    }
    75% {
        transform: translateX(-20px);
        opacity: 0.75;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
  }

@keyframes fadeIn2 {
    from {
        opacity: 0.2;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn3 {
    from { opacity: 0; transform: translateY(100px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes fadeIn4 {
    from { opacity: 0; transform: translateX(80px); }
    to { opacity: 1; transform: translateX(0); }
}

.in-view-2 img,
.in-view-2 p {
    animation: fadeIn2 1s ease-in-out;
}

.in-view-3 section,
.in-view-3 img {
    animation: fadeIn3 1s ease-in-out;
}

.in-view-4 img,
.in-view-4 h2, 
.in-view-4 p {
    animation: fadeIn4 1s ease-out forwards;
}

.in-view-1 img,
.in-view-1 p,
.in-view-1 h2 {
    animation: fadeIn1 1s ease-in-out;
}

/* Footer */
.site-footer {
    background-color: #0264a5;
    color: white;
    text-align: center;
    padding: 5px 0;
}

.site-footer .container {
    width: 80%;
    margin: auto;
    max-width: 1200px;
}

.site-footer .container p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16pt;
}
/* Footer */


/* carousel */
.item a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    color: #1089ff;
}
  
.item a:hover, .item a:focus {
    text-decoration: none !important;
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}
  
.item h3 {
    line-height: 1.5;
    font-weight: 400;
    font-family: "Poppins", Arial, sans-serif;
}
  
.ftco-section {
    padding: 7em 0;
}
  
.item .img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
  
.owl-carousel {
    position: relative;
}
  
.work {
    width: 100%;
}
  
.work .img {
    width: 380px;
    height: 360px;
    position: relative;
    -webkit-box-shadow: 0px 20px 35px -30px rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 0px 20px 35px -30px rgba(0, 0, 0, 0.26);
    box-shadow: 0px 20px 35px -30px rgba(0, 0, 0, 0.26);
    object-fit: fill;
}
  
.work .text h3 {
    font-size: 18px;
    font-weight: 500;
}
      
.work .text h3 a {
    color: #000; 
    text-decoration: none;
}

.ftco-section .co-container {
    min-width: 992px !important;
    margin: 0 auto;
}
  
.co-container .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
  
.col-md-12 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
  
@media (min-width: 576px) {
    .co-container {
    max-width: 570px;
} }
  
@media (min-width: 768px) {
    .co-container {
    max-width: 760px;
} }
  
@media (min-width: 992px) {
    .co-container {
    max-width: 990px;
} }
  
@media (min-width: 1200px) {
    .co-container {
    max-width: 1180px;
} }
  
.owl-carousel .owl-item {
    opacity: 1;
}
  
.owl-carousel .owl-item.active {
    opacity: 1;
}
  
.owl-carousel .owl-nav {
    position: absolute;
    top: 50%;
    width: 100%;
}
  
.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
    position: absolute;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-top: -60px;
    color: rgba(0, 0, 0, 0.1) !important;
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
    opacity: 0;
}
  
.owl-carousel .owl-nav .owl-prev span:before,
.owl-carousel .owl-nav .owl-next span:before {
    font-size: 80px;
    color: #2e7ddd;
}
  
.owl-carousel .owl-nav .owl-prev {
    left: 0;
}
  
.owl-carousel .owl-nav .owl-next {
    right: 0;
}
  
.owl-carousel .owl-dots {
    text-align: center;
    margin-top: 20px;
}
  
.owl-carousel .owl-dots .owl-dot {
    width: 15px;
    height: 15px;
    margin: 10px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.1);
    position: relative;
}
  
.owl-carousel .owl-dots .owl-dot:hover, 
.owl-carousel .owl-dots .owl-dot:focus {
    outline: none !important;
}
  
.owl-carousel .owl-dots .owl-dot.active {
    background: #73b6fa;
}
  
.owl-carousel:hover .owl-nav .owl-prev,
.owl-carousel:hover .owl-nav .owl-next {
    opacity: 1;
}
  
.owl-carousel:hover .owl-nav .owl-prev {
    left: -80px;
}
  
.owl-carousel:hover .owl-nav .owl-next {
    right: -80px;
}
  
.owl-carousel.owl-drag .owl-item {
    -ms-touch-action: pan-y;
    touch-action: pan-y;
}
  
.work .img .icon {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #fff;
    display: block;
    opacity: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
  
.work .text span {
    font-size: 12px;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    font-weight: 500;
}
  
.work:hover .img .icon {
    opacity: 1;
}
  
.d-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}
  
.align-items-center {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
}
  
.justify-content-center {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
}
  
.rounded {
    border-radius: 0.25rem !important;
}
  
.pt-3 {
    padding-top: 1rem !important;
}
  
.w-100 {
    width: 100% !important;
}
  
.text-center {
    text-align: center !important;
}
/* carousel */
